[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-core = "*"
langchain-google-genai = "*"
python-dotenv = "*"
streamlit = "*"
langserve = "*"
langchain-openai = "*"
fastapi = "*"
uvicorn = "*"
sse-starlette = "*"

[dev-packages]

[requires]
python_version = "3.11"
